In [1]:
import pandas as pd
import seaborn as srn
import statistics  as sts

In [7]:
df = pd.read_csv('tempo.csv',sep=';',encoding='latin-1')

In [12]:
df.columns = ['Aparencia','Temperatura','Umidade','Vento','Jogar']

In [14]:
df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [15]:
df.isna().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [18]:
df['Umidade'].describe()

mediana = sts.median(df['Umidade'])
mediana

85.5

In [19]:
df['Umidade'].fillna(mediana,inplace=True)

In [33]:
df['Vento'].groupby(df['Vento']).count()

df.loc[df['Vento'] == 7,'Vento'] = 'FALSO'

In [34]:
df['Vento'].groupby(df['Vento']).count()

Vento
FALSO         8
VERDADEIRO    6
Name: Vento, dtype: int64

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70     85.5       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0       FALSO   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao